*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Abril Fatface', cursive;
}

.conatiner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 10rem;
    padding: 1rem;
}

.card{
    color: white;
    background-image: linear-gradient(to bottom ,rgb(117, 115, 115),black);
    padding: 2rem;
    border-radius: 10px;
    width: 16rem;

    display: flex;
    align-items: center;
    justify-content: center; 
}

.dots{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.dot{
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(to bottom ,rgb(117, 115, 115),black);
    border-radius: 50%;
}

@media (max-width:700px){
    html{
        font-size: 43.75%;
    }
}

@media (max-width:480px){
    html{
        font-size: 25%;
    }
}